# Если кто-то разбирается, напишите мне, есть ли тут что-то лишнее
**/*.cover
**/*.log
**/*.pyc
**/*.pyd
**/*.pyo
**/.DS_Store
**/.Python
**/.aws
**/.cache
**/.coverage
**/.coverage.*
**/.env
**/.git
**/.github
**/.gitignore
**/.hypothesis
**/.idea
**/.mypy_cache
**/.pytest_cache
**/.ssh
**/.tox
**/.vscode
**/FlaskApp.wsgi
**/Working
**/__pycache__
**/coverage
**/coverage.xml
**/env
**/nosetests.xml
**/pip-delete-this-directory.txt
**/pip-log.txt
**/venv
Dockerfile
README.md
docker-compose.yml