name: Deploy to production

on:
  push:
    branches:
      - master

jobs:
  build:
    environment: production
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

      - name: Create env file
        run: |
          touch .env

          echo BOT_TOKEN=${{ secrets.BOT_TOKEN }} >> .env
          echo TESSERACT_PATH=${{ secrets.TESSERACT_PATH }} >> .env
          echo TIMEZONE_OFFSET=${{ secrets.TIMEZONE_OFFSET }} >> .env
          echo TIMEOUT=${{ secrets.TIMEZONE }} >> .env

          echo POSTGRES_HOST=${{ secrets.POSTGRES_HOST }} >> .env
          echo POSTGRES_HOST_PORT=${{ secrets.POSTGRES_HOST_PORT }} >> .env
          echo POSTGRES_OUTSIDE_PORT=${{ secrets.POSTGRES_OUTSIDE_PORT }} >> .env
          echo POSTGRES_DB=${{ secrets.POSTGRES_DB }} >> .env
          echo POSTGRES_USER=${{ secrets.POSTGRES_USER }} >> .env
          echo POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} >> .env

          echo REDIS_HOST=${{ secrets.REDIS_HOST }} >> .env
          echo REDIS_HOST_PORT=${{ secrets.REDIS_HOST_PORT }} >> .env
          echo REDIS_OUTSIDE_PORT=${{ secrets.REDIS_OUTSIDE_PORT }} >> .env
          echo REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD }} >> .env

      - name: Build and run the Docker
        run: docker compose up -d --build

      - name: Run migrations
        run: docker compose exec upml-bot alembic upgrade head
